<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-5 fw-normal">Тут буде щось смачне...</h1>
    </div>
    <form action="/recipes/new-recipe" method="post">
        <div class="form-group mb-2">
            <label for="title">Якою буде назва вашої страви:</label>
            <input type="text" class="form-control" id="title" name = "title" placeholder="Введіть назву" minlength="3" maxlength="50" required>
        </div>

        <div class="form-group mb-2">
            <label for="description">Опишіть вашу страву:</label>
            <textarea class="form-control" id="description" name = "description" rows="2" maxlength="160" minlength="10" required></textarea>
        </div>
        <div class="form-group mb-2">
            <label for="ingredient">Які інгрідієнти ви використаєте:</label>
            <textarea class="form-control" id="ingredient" name = "ingredient" rows="4" placeholder="Розділяйте інгредієнти ';', наприклад: томат - 2 шт;сіль - 3 ст. ложки" required></textarea>
        </div>
        <div class="form-group mb-2">
            <label for="recipe">Рецепт страви:</label>
            <textarea class="form-control" id="recipe" name = "fullText" rows="6" minlength="50" required></textarea>
        </div>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <div class="p-3 pb-md-4 mx-auto text-center">
            <input type="submit" class="btn btn-primary mb-2" value="Створити рецепт"/>
        </div>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>