<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img class="bi me-2" th:src="@{~/photo/header-img.png}" width="50" height="50">
                <span class="fs-4">LIFE IS COOKING</span>
            </a>

            <ul class="nav nav-pills align-items-center">
                <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Головна</a></li>
                <li class="nav-item"><a href="/recipes" class="nav-link">Всі рецепти</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">Про нас</a></li>
                <li th:unless="${role}" class="nav-item"><a href="/login" class="nav-link active m-0" aria-current="page">ВХІД</a></li>
                <div th:if="${role}" class="dropdown m-0">
                    <button th:text="${user.username}"
                            class="btn dropdown-toggle nav-item"
                            type="button"
                            id="menuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            style="background-color: transparent; font-weight: bold; color: #0d6efd;"
                    />
                    <div class="dropdown-menu" aria-labelledby="menuButton">
                        <a class="dropdown-item" href="/profile">Мій профіль</a>
                        <a class="dropdown-item" href="/my-recipes">Мої статті</a>
                        <a class="dropdown-item" href="/favorite-recipes">Сподобалось</a>
                        <a class="dropdown-item" href="/logout">Вийти</a>
                    </div>
                </div>
            </ul>
        </header>
    </div>
</div>